.Blacklist {
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-width: 25vmin;
    max-height: 100vmin;
    padding-left: 2%;
    padding-right: 2%;
}

.Blacklist tr {
    background-color: indianred;
}

.Player-name {
    font-weight: bold;
}