.Countdown-clock {
    margin-bottom: 1rem;
}

.Timer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Toast-body {
    display: flex;
    justify-content: space-evenly;
}

.Toast-body span {
    color: red;
    font-weight: bold;
}