#home {
    height: 100vh;
}

#about {
    overflow: auto;
}

.wrapper {
    overflow: hidden;
}

.sliding-background {
    background: url('../icons/big_four_logos.jpg') repeat-x;
    height: 500px;
    width: 7950px;
    animation: slide 60s linear infinite;
}

@keyframes slide{
    0%{
        transform: translate3d(0, 0, 0);
    }
    100%{
        transform: translate3d(-2650px, 0, 0);
    }
}