.Home-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
}

.Navbar-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem;
}

.Loading-text {
    font-size: x-large;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    width: max-content;
    margin-bottom: 2rem;
}

.Loading-logo {
    animation: Loading-logo-spin infinite 2.5s linear;
    height: 15vmin;
    pointer-events: none;
}

@keyframes Loading-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}