.Player-cell {
    border: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: unset;
}

.Player-cell td {
    border: none;
}

.Player-cell tr {
    border: none;
}

.Player-cell-row {
    font-weight: bold;
}

.Player-cell-row b {
    color: red;
}

.Player-team-row b {
    color: blue;
}