.Player-pool-grid {
    display: flex;
    max-width: 150vmin;
    max-height: 70vh;
    overflow: auto;
    margin-top: -1px;
    flex-grow: 2;
}

.Player-table {
    min-width: 150vmin;
}

.Up-down-buttons {
    float: right;
}

.Player-pool-grid thead {
    vertical-align: middle;
}

.Player-pool-grid th {
    background-color: gray;
    color: white;
    z-index: 1;
    position: sticky;
    top: 0;
}

.Player-pool-grid-header th {
    text-align: center;
    vertical-align: middle !important;
}

.Player-pool-grid-header img {
    margin-left: 0.5vmin;
    height: 2.5vmin;
    background-color: gray;
}

.Player-pool-row td {
    vertical-align: middle;
    text-align: center;
    padding: 0.4vmin;
}

.Player-pool-row p {
    all: unset;
}
